
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home_banner" class="pos_rel" data-parallax="true" style="background-image: url('/assets/img/home-banner.jpg');">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">

                <!--    <h1 class="title">About Us</h1>
                                   <h3 class="description">Welcome to Qademli</h3>
                -->

            </div>
        </div>
    </div>
</div>
<section id="services" class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--University Area-->
                <div class="container">
                    <div class="about-description text-center">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                                <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to see more.</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="about-team team-1 mt-5">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">We are nerd rockstars</h2>
                                <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="about-services features-2 mt-5">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h2 class="title">We build awesome products</h2>
                                <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</h5>
                            </div>
                        </div>
                       
                    </div>
                    <div class="about-office mt-5">
                        <div class="row text-center">
                            <div class="col-md-8 ml-auto mr-auto">
                                <h2 class="title">Our office is our second home</h2>
                                <h4 class="description">Here are some pictures from our office. You can see the place looks like a palace and is fully equiped with everything you need to get the job done.</h4>
                            </div>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>




