
@{
ViewData["Title"] = "Payment Terms";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home_banner" class="pos_rel" data-parallax="true" style="background-image: url('/assets/img/home-banner.jpg');">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">

<!--    <h1 class="title">About Us</h1>
<h3 class="description">Welcome to Qademli</h3>
-->

</div>
</div>
</div>
</div>
<section id="services" class="services_section">
    <div class="row">
        <div class="col-md-12">
            <!--University Area-->
            <div class="container">
                <div class="about-team">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">Payment Terms</h2>
                            <h4 class="title">Missing Documents</h4>
                            <h5>If the student places a service with missing documents, he will receive email from our customer service (“<strong>Missing Documents</strong>”) which will delay the process. Our customer service will send another email as a reminder to the student to upload the documents then will contact him by phone. However, if the student did not respond within five days the service will cancelled and will have full refund after contacting the bank for refunding. If the student uploads the missing documents, he will receive email from our customer service noticing him about the status of his application process</h5>
                            
                            <h4 class="title">1. CANCELLATION</h4>
                            <h5>You have the right to cancel your service within a reasonable time and before the approval. Students could cancel service by contacting our customer services if Qademly did not start your service yet. However, if the company marks the service as <b>started</b>, you will not get a full refund; the company will decide the refund based on our work. Students have to know our customers are number one, and we want to make them happy to use our app, a full refund will be negotiable in this situation. Qademly may cancel any service and will tell you once we cancel service and will tell you the reason for cancellation. You will not be charged for any service canceled in accordance with this clause. Any payment made prior to a service being canceled by Qademly will be reimbursed, the refund will be within Ten working days. Any service canceled after it becomes a <b>in process</b> will be charged to you. Qademly alone will determine whether an order is a process order or not.</h5>

                            <h4 class="title">2. PRICE AND PAYMENT</h4>
                            <h5>The amount of any service will be listed on our application. Prices will vary between services. Prices are liable to change at any time, but changes will not affect service in respect of which you have been presented with the Confirmation Email, in the case of an obvious pricing mistake, whereby we will notify you as soon as we can about the pricing issue. You may be able to cancel your service once we inform you. Payment for all services must be through our payment system online. Once your inquiry has been confirmed, your credit or debit card will have been authorized and the amount marked for payment. Payment is made directly to Qademly.</h5>

                            <h4 class="title">3. The way we charge</h4>
                            <h5>When students want to choose one of our services, Qademly providing a list of prices based on the selected service. Students must pay after selecting the service. After receiving the payment, Qademly will start working on the student service.</h5>

                            <h4 class="title">4. Additional Fees</h4>
                            <h5>Qademly provides prices for each service in the application and website. Those prices do not include the University, English language program, IELTS or TOEFL, and visa application fees. Each service is given with different prices from Qademly and price from those institutions. Students should know, each University have their application fee, which will be different in each University. Visa application has a standard price to pay authorized by Burgan Bank to be eligible to book for the Visa interview. Students should pay visa fees individually, Qademly will not offer this service at this time. IELTS and TOEFL authorized by different organizations with different prices, students can make the payment on our application, and Qademly will handle the application process. For the apartments, each apartment provided with their standard in deposit fee to book the apartment, so it will be different from building to building; you can make the payment through our application and Qademly will make sure to book the apartment for the student.</h5>

                            <h4 class="title">5. REFUNDS</h4>
                            <h5>Qademly takes customer satisfaction very seriously. If there are problems with your application status, please contact Qademly through our contacting panel or our email, and we will assist you as soon as possible. Refunds will not be eligible based on our “<strong>Cancelation Regulation.</strong>” Neither that, if you have already been billed by Qademly, Qademly will issue full or partial refunds, as deemed appropriate and determined solely by Qademly. Any refund will be in the bank account, however, if you paid by credit card and wish to have the credit refunded to your card, your request.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>